<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jim 'Big Tiger' Remsik" />
 
   <script type="text/javascript" src="http://use.typekit.com/tnh2jvg.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
 
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
 
<div class="site">
  <div class="title">
    <h1 class="tk-carbon-type"><a href="/">Jim 'Bi<span class="dropped">g</span> Ti<span class="dropped">g</span>er' Remsik</a></h1>
    <a class="extra" href="/">home</a>
    <a class="extra" href="http://www.twitter.com/jremsikjr">twitter</a>
    <a class="extra" href="http://www.github.com/bigtiger">github</a>
    <a class="extra" href="http://www.flickr.com/photos/jremsikjr">flickr</a>
    <a class="extra" href="http://www.linkedin.com/in/jremsikjr">linkedin</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Jim 'Big Tiger' Remsik<br />
        Senior Developer at <a href="http://hashrocket.com/">Hashrocket</a><br />
        bigtiger@hashrocket.com
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/bigtiger">
        <img src="http://vurl.me/BPV" alt="Subscribe to RSS Feed" />
      </a>
      <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/bigtiger">
    </div>
  </div>
  <div class="attribution">
    This layout clearly stolen from <a href="http://tom.preston-werner.com/">http://tom.preston-werner.com/</a> and promptly abused.
  </div>
</div>
 
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-166342-5");
pageTracker._trackPageview();
} catch(err) {}</script>
 
</body>
</html>
